#te-settings-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-medium);
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    margin: 0 0.5rem;
    position: relative;
}

#te-settings-button:hover {
    background: var(--color-background-button-text-hover);
}
