#te-settings {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1001;

    --te-bg-color-dark: #141414;
    --te-bg-color-light: #1c1c1c;
    --te-purple-color: #a970e1;
    --te-gray-color-light: #f2f2f280;
}

#te-settings[open] {
    display: flex;
}

#te-settings[open] .te-settings-wrapper {
    animation: te-jump-in 250ms forwards;
}
#te-settings[open] .te-settings-backdrop {
    animation: te-blur-in 250ms forwards;
}
#te-settings[closing] .te-settings-wrapper {
    animation: te-fade-out 250ms forwards;
}
#te-settings[closing] .te-settings-backdrop {
    animation: te-blur-out 250ms forwards;
}

@keyframes te-blur-in {
    0% {
        backdrop-filter: blur(0px);
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        backdrop-filter: blur(3px);
        background-color: rgba(0, 0, 0, 0.5);
    }
}
@keyframes te-blur-out {
    0% {
        backdrop-filter: blur(3px);
        background-color: rgba(0, 0, 0, 0.5);
    }
    100% {
        backdrop-filter: blur(0px);
        background-color: rgba(0, 0, 0, 0);
    }
}
@keyframes te-jump-in {
    0% {
        opacity: 0;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes te-fade-out {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.9);
    }
}
.tab-icon {
    width: 20px;
    height: 20px;
    fill: var(--te-gray-color-light);
}

.tab-icon--active {
    fill: var(--te-purple-color);
}

.te-close-button:hover .te-close-button-icon {
    fill: rgba(255, 255, 255, 0.75) !important;
}
