.te-bumps {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 0.5rem;
    background-color: rgb(116, 23, 255);
    border-radius: 1rem;
    padding: 0 0.75rem;
    font-weight: bold;
    animation: bump 0.5s;
    user-select: none;
}

.te-bumps:not([te-bumped]):hover {
    background-color: rgb(90, 33, 176);
    cursor: pointer;
}

@keyframes bump {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}

.te-bump-message {
    display: none;
}

#te-bump-list {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    display: none;

    --te-bg-color-dark: #141414;
    --te-bg-color-light: #1c1c1c;
    --te-purple-color: #a970e1;
    --te-gray-color-light: #f2f2f280;
}
.highlight01{
    background-color: rgba(128, 0, 128, 0.10);
    height: auto;
}
.highlight02{
    background-color: rgba(128, 0, 128, 0.20);
    height: auto;
}
.highlight03{
    background-color: rgba(128, 0, 128, 0.60);
    height: auto;
}
.highlight04{
    background-color: rgba(128, 0, 128, 0.90);
    height: auto;
}