{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true,
        "webextensions": true
    },
    "globals": {
        "__development__": true
    },
    "extends": ["eslint:recommended", "prettier", "plugin:react/recommended"],
    "parserOptions": {
        "ecmaVersion": 13,
        "sourceType": "module",
        "allowImportExportEverywhere": true
    },
    "rules": {
        "no-unused-vars": "warn",
        "react/prop-types": "off"
    },
    "settings": {
        "react": {
            "version:": "detect"
        }
    }
}
