.te-search-hide {
    display: none;
}

#te-search {
    width: 100%;
    height: 100%;
    display: none !important;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
}
