.te-hide-no-icons {
    .chat-badge[src^="https://static-cdn.jtvnw.net/badges/v1/199a0dba-58f3-494e-a7fc-1fa0a1001fb8/1"],
    .chat-badge[src^="https://static-cdn.jtvnw.net/badges/v1/aef2cd08-f29b-45a1-8c12-d44d7fd5e6f0/1"],
    span[data-badge="no_audio"],
    span[data-badge="no_video"] {
        display: none !important;
    }
}
