@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400&display=swap');
:root{
    --primary-color: rgb(24 24 24);
    --secondary-color: rgb(20 20 20);
    --purple-text-color: rgb(169, 112, 255);
}
html, body, head {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
    color: white;
    font-family: Sora, sans-serif;
}
h1{
    text-align: center;
}
table{
    width: 100%;
    border-spacing: 0px;
    table-layout: fixed;
    border-collapse: collapse;
}
thead{
    user-select: none;
    background-color: var(--secondary-color);
    color: var(--purple-text-color);
    font-size: 0.875rem;
    font-weight: 400;
}
tr{
    height: 5em;
}
.td__inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    font-size: 0.875rem;
}
.row:nth-child(2n+1) {
    background-color: rgba(0, 0, 0, 0.15);
}
#layout{
    padding: 0 20em 0 20em;
}
#header{
    font-size: 2.5rem;
    text-align: center;
    padding: 2em 0 2em 0;
    margin: 1em 0 1em 0;
    background-color: var(--secondary-color);
}
#header__title{
    color: var(--purple-text-color);
}
#header__description{
    font-size: 1.5rem;
}
#icons, #actions{
    margin-bottom: 10em;
}
.custom__icon--img{
    width: 50px;
    height: 50px;
}
input, select{
    padding: 1em;
    background-color: var(--secondary-color);
    border: none;
    color: white;
    border-radius: 0.5em;
}
button{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
    border: none;
    color: white;
    font-weight: 800;
    border-radius: 0.5em;
    cursor: pointer;
    transition: .1s;
}
button:hover{
    background: rgb(30 30 30);
}
button#add-icon, button#add-action{
    padding: 0.5em 2.5em;
}
button.remove-icon, button.remove-action{
    padding: 0.5em 1.4em;
}
#groups{
    border-bottom: 2px solid var(--secondary-color);
}
#groups__loading{
    margin: 3em 0 3em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2em;
}
.group{
    position: relative;
    margin-bottom: 10em;
}
.group__name{
    background: var(--secondary-color);
    position: relative;
    padding: 1.5em 0em 1.5em 0em;
    font-size: 4em;
    color: var(--purple-text-color);
    text-align: center;
}
.group__image{
    width: 13em;
    border-radius: 15%;
    position: absolute;
    left: 8em;
    top: 10em;
}
.group__members{
    position: absolute;
    left: 16em;
    top: 13em;
    font-size: 1.5em;
    z-index: 99;
}
#footer{
    color: rgba(242, 242, 242, 0.5);
    margin: 2em 0 2em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footer__logo{
    display: flex;
    align-items: center;
}
#github__link{
    color: rgba(242, 242, 242, 0.5);
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0 0.5em 0 0.5em;
    transition: .1s;
}
#github__link:hover{
    color: rgba(255,255,255,.6);
}
#version{
    margin-left: 0.2em;
}
body::-webkit-scrollbar{
    width: 12px;
}
body::-webkit-scrollbar-track{
    background: var(--secondary-color);
}
body::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 20px;
}

@media screen and (max-width:1440px){
    #layout{
        padding: 0 10em 0 10em;
    }
    .group__image{
        width: 10em;
        left: 8em;
        top: 13em;
    }
    .group__members{
        left: 13em;
        top: 13em;
        font-size: 1.5em;
        z-index: 99;
    }
}
@media screen and (max-width:960px){
    #layout{
        padding: 0 3em 0 3em;
    }
    .group__image{
        width: 10em;
        left: 5em;
        top: 13em;
    }
    .group__members{
        left: 15em;
        top: 16em;
        font-size: 1.2em;
        z-index: 99;
    }
}