#xayo-info {
    width: 330px;
    margin: 10px 10px 5px 10px;
}

.xayo-header {
    font-weight: bold;
}

.xayo-header a {
    text-decoration: none;
    color: white;
}

.xayo-line {
    width: 100%;
}

.xayo-percent {
    opacity: 0;
}

.xayo-line:hover .xayo-percent {
    opacity: 1;
}

.xayo-end {
    width: calc(100% - 10px);
    height: 1px;
    background-color: rgb(87, 87, 87);
    border-radius: 50px;
    margin-top: 3px;
    margin-bottom: 5px;
}

#vod-time:hover {
    opacity: 0.75;
    cursor: pointer;
}

#te-buttons-wrapper {
    color: #b4b4b4;
}


