#te-card-wrapper {
    width: 330px;
    margin: 10px 10px 5px 10px;
}

.te-card-header {
    font-weight: bold;
}

.te-card-header a {
    text-decoration: none;
    color: white;
}

.te-card-line {
    width: 100%;
}

.te-card-percent {
    opacity: 0;
}

.te-card-line:hover .te-card-percent {
    opacity: 1;
}

.te-card-separator {
    width: calc(100% - 10px);
    height: 1px;
    background-color: rgb(87, 87, 87);
    border-radius: 50px;
    margin-top: 3px;
    margin-bottom: 5px;
}

#vod-time:hover {
    opacity: 0.75;
    cursor: pointer;
}

#te-buttons-wrapper {
    color: #b4b4b4;
}

.viewer-badge {
    width: 18px;
    height: 18px;
}

#te-menu-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}

.te-hidden-message {
    color: rgb(190, 190, 190);
    font-style: italic;
}

#te-badge-popup {
    z-index: 9999;
    position: absolute;
    left: 0;
    right: 0;
    width: 100px;
    height: max-content;
    border-radius: 5px;
    background: white;
    color: black;
    text-align: center;
    font-weight: bold;
    word-wrap: break-word;
}

#te-badge-popup img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
}