#xayo-info {
    width: 330px;
    margin: 10px 10px 5px 10px;
}

.xayo-header {
    font-weight: bold;
}

.xayo-header a {
    text-decoration: none;
    color: white;
}

.xayo-line {
    width: 100%;
}