.te-connect-message {
    .chat-line__timestamp {
        display: none;
    }

    .chat-line__message--badges {
        display: none;
    }

    .chat-line__username-container {
        display: none !important;
    }

    .chat-line__username {
        display: none;
    }

    span[aria-hidden='true'] {
        display: none;
    }
}
