#te-message-menu {
    z-index: 10000;
    background-color: #292a2d;
    position: absolute;
    display: flex;
    flex-direction: column;
    // min-width: 175px;
    border-radius: 2px;
    overflow: hidden;
    white-space: nowrap;
    padding: 4px;
}

.te-message-menu-option {
    padding: 8px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    display: flex;
    align-items: center;
    gap: 8px;

    &:nth-child(1) {
        position: relative;
        margin-bottom: 1px;

        &::after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            height: 1px;
            background-color: #3c4043;
            width: 100%;
        }
    }

    & span {
        color: white;
        font-size: 12px;
    }

    &:hover {
        background-color: #3f4042;
    }
}
.te-message-menu-icon {
    fill: #9aa0a6;
    width: 16px;
    height: 16px;
}
